@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/*GERAL ASSETS*/
* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*HEADER*/

header {
    position: relative;
    max-width: auto;
    height: 80px;
    padding: 23px 52px;
    background: linear-gradient(180deg, #014180 0%, #014D99 100%);
}

.logo{
    position: absolute;
    top: 30%;
}

.menu{
    position: relative;
    float: right;
    top: 30%;
}

/*MAIN*/
main{
    max-width: 1015px;
    margin: 0 auto;
}

/*Small and title*/
small,
.link,
#nossos-membros,
#habilidades{
    color: #8492A6;
}

.link {
    font-size: 18px;
    margin-bottom: 65px;
}

.link a{
    color: #2648A1;
}

.title{
    text-align: right;
    margin-bottom: 37px;
}

h1 {
    color: #2648A1;
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
}

#nossos-membros{
    font-weight: 400;
    font-size: 16px;
}

/*Skill Navbar*/

nav {
    margin-bottom: 50px;
}

#habilidades{
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

nav ul{
    margin-top: 14px;
    padding: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li:not(:first-child){
    margin-left: 14px;
}

.link-habilidades{
    text-decoration: none;
    color: #224586;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    border: 1px solid #2648A1;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 28px;
}

.selected {
    background-color: #224586;
    color: white;
}

/*Workers*/
.pessoas{
    display: inline-block;
    position: absolute;
    top:0px;
}

.pessoas:not(:last-child){
    margin-right: 15px;
}

.grid {
    margin-bottom: 130px;
    position: relative;
    height: 512px;
    width: 325px;
}

.pessoas h3{
    color: #273444;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    margin-top: 22px;
}

.texto-pessoas{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #3C4858;
    width: 325px;
}

.texto-pessoas {
    margin-top: 22px;
    margin-bottom: 22px;
}

.pessoa-skill{
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #273444;
}

.load{
    background: #FFFFFF;
    border: 1px solid #2648A1;
    box-sizing: border-box;
    box-shadow: -3px 3px 0px #203C86;
    font-weight: 700;
    line-height: 180%;
    text-decoration: none;
    padding: 10px;
    color: #2648A1;
    font-size: 15.201px;
}

.load img{
    margin-left: 33px;
    display: inline-block;
    height: 15.201px;
}



/* ajuste de pessoas */
#p2{
    left:340px;
}

#p3{
    left: 680px;
}

#p5{
    left: 340px;
}

#p6{
    left:680px;
}

/*FOOTER*/

#footer-part1{
    background-color: #FFC82C;
    height: 149px;
    margin-top: 150px;
    color:#224586;
    text-align: center;
    padding-bottom: 36px;
}

/*LINNK-FOOTER1*/

#a-footer1{
    display: block;
    color:#224586;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    line-height: 100%;
    margin-bottom:14px;
    padding-top: 39px;
}

#instagram-footer1{
    margin-right: 12px;
}

/* PARAGRAFO-FOOTER1 */

#p-footer1{
    max-width:210px;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 140%;
    margin: auto;
}

/* FOOTER2 */

#footer-part2{
    background: linear-gradient(90deg, #213F8C 50%, #1E3980 69.17%, #1B3373 100%);
    padding-top:79px;
    color: #FAFAFA;
}

#p-footer2{
    width:406px;
    font-weight: 400;
    font-size: 21px;
    line-height: 33.6px;
    margin-left:220px;
    margin-bottom: 80px;
}

#informacoes-footer{
    position: relative;
    height: 225px;
}

/* SPAN DO PARAGRAFO */

.span-p-footer-part2{
    color:#FFC82C;
}

/* CONTATO-WHATSAPP */

#contato-wpp{
    font-size: 18px;
    left:220px;
}

#span-contato{
    font-weight: 300;
    font-size: 14px;
    line-height: 28.8px;
    color:#FAFAFA;
}

#span-email{
    font-weight: 300;
    font-size: 18px;
    line-height: 28.8px;
    color:#FAFAFA;
}

#span-wpp{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    line-height: 28.8px;
}

/* EMAIL */

#email{
    margin-top: 60px;
}
/* ENDEREÇO */

address{
    font-size:18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    max-width:322px;
}

#span-endereco{
    font-weight: 300;
    font-size: 16px;
}

.container-dados{
    display: inline-block;
    margin-right: 135px;
    position: absolute;
    top:0px;
}

#endereco{
    
    left:560px;
}

#midia-social{
    left:984px;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    line-height: 21.6px;
    color:#FAFAFA;
}

#midia-social img{
    margin-right: 24px;
}

#instagram{
    padding-top: 20px;
    margin-right: 24px;
}

/*LINHA DIVISÓRIA */

hr{
    background-color:#FDFDFD80;
    margin-bottom: 44px;
}

/* IMAGEM DO FINAL DO FOOTER */

#img-footer{
    margin: auto;
    display: block;
    max-width: 63px;
    padding-bottom: 45px;
}